:root {
  --bg-color-light: #ffffff;
  --text-color-light: #000000;
  --bg-color-dark: #121212;
  --text-color-dark: #ffffff;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  transition: background-color 0.5s ease, color 0.5s ease;
}

.container {
  text-align: center;
  margin-top: 20%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: inherit;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.2);
}
.dark-mode {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}